<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand pull-left">
      <a (click)="goToPages()" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>
          Widgets
        </b>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <a class="navbar-link" (click)="newWidget()">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid jj-body">

  <div *ngFor="let widget of widgets">
    <div class="jj-widget">
      <div class="jj-toolbar">
        <a (click)="editWidget(widget._id)">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      {{widget.widgetType}}
      <div [ngSwitch]="widgetType">

        <div *ngSwitchCase="'HEADING'">
          <h1>{{widget.text}}</h1>
        </div>

        <ng-container *ngSwitchCase="'YOUTUBE'">
          <iframe width="560" height="315"
                  src="{{widget.url}}"
                  frameborder="0" allowfullscreen></iframe>
        </ng-container>

        <ng-container *ngSwitchCase="'IMAGE'">
          <img class="jj-content" src="{{widget.url}}"/>
        </ng-container>
        <div *ngSwitchCase="'HTML'">
          <a href="{{widget.text}}"></a>
        </div>

      </div>
    </div>
  </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
    <p class="navbar-text pull-left">
      <a [routerLink]="">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a [routerLink]="">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
  </div>
</nav>
