<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand pull-left">
      <a [routerLink]="['/user/:uid/website/:wid/page']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>
          Widgets
        </b>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <a class="navbar-link" [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid jj-body">
  <!--<div *ngFor="let widget of widgets">-->
    <!--<li class="list-group-item">-->
      <!--<a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']">-->
        <!--{{widget.widgetType}}-->
      <!--</a>-->
      <!--<a  class="pull-right" [routerLink]="['/user', website.developerId, 'website', website._id]">-->
        <!--<span class="glyphicon glyphicon-cog"></span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</div>-->
  <div *ngFor="let widget of widgets">
    <div class="jj-widget">
      <div class="jj-toolbar">
        <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>

      </div>
      <h1> {{widget.widgetType}}</h1>
    </div>
  </div>

  </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user/:uid']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
    <p class="navbar-text pull-left">
      <a [routerLink]="">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a [routerLink]="">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
  </div>
</nav>
