<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand pull-left ">
      <button (click)="goToPages()" class="navbar-link jj-button">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>
          Widgets
        </b>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <button class="navbar-link jj-button" (click)="newWidget()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </p>
  </div>
</nav>

<div class="container-fluid jj-body" appWebDevSortable (orderChanged)="onIndexChange($event)">

  <div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADING'">
        <div class="jj-widget">
          <div class="jj-toolbar">
            <button class="jj-button-cog" (click)="editWidget(widget._id, widget.widgetType)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <div [ngSwitch]="widget.size">
            <div *ngSwitchCase="1"><h1>{{widget.text}}</h1></div>
            <div *ngSwitchCase="2"><h2>{{widget.text}}</h2></div>
            <div *ngSwitchCase="3"><h3>{{widget.text}}</h3></div>
            <div *ngSwitchCase="4"><h4>{{widget.text}}</h4></div>
            <div *ngSwitchCase="5"><h5>{{widget.text}}</h5></div>
            <div *ngSwitchCase="6"><h6>{{widget.text}}</h6></div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <div class="jj-widget">
          <div class="jj-toolbar">
            <button class="jj-button-cog" (click)="editWidget(widget._id, widget.widgetType)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <div class="youtube-widget">
            <iframe class="jj-content"
                    [src]="cleanURL(widget.url)"
                    [style.width]="widget.width"
                    height="315"
                    frameborder="0"
                    allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <ng-container *ngSwitchCase="'IMAGE'">
        <div class="jj-widget">
          <div class="jj-toolbar">
            <button class="jj-button-cog" (click)="editWidget(widget._id, widget.widgetType)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <img class="jj-content" [style.width]="widget.width" src="{{widget.url}}"/>
        </div>
      </ng-container>
      <div *ngSwitchCase="'HTML'">
        <div class="jj-widget">
          <div class="jj-toolbar">
            <button class="jj-button-cog" (click)="editWidget(widget._id, widget.widgetType)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          {{widget.text}}
        </div>
      </div>
      <div *ngSwitchCase="'TEXT'">
        <div class="jj-widget">
          <div class="jj-toolbar">
            <button class="jj-button-cog" (click)="editWidget(widget._id, widget.widgetType)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <div *ngIf="widget.formatted">
            <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
          </div>
          <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
                 placeholder="{{widget.placeholder}}" class="form-control"/>

          <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                    rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                    class="form-control">{{widget.text}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <button class="jj-button-cog" (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
    <p class="navbar-text pull-left">
      <button class="jj-button-cog" [routerLink]="">
        <span class="glyphicon glyphicon-play"></span>
      </button>
      <button class="jj-button-cog" [routerLink]="">
        <span class="glyphicon glyphicon-eye-open"></span>
      </button>
  </div>
</nav>
