<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand pull-left">
      <button (click)="chooseWidget()" class="navbar-link jj-button">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>
          Widget Edit
        </b>
      </a>
    </div>

    <p class="navbar-brand pull-right">
      <button (click)="commit(text, widgetType)" class="navbar-link jj-button">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </p>
  </div>
</nav>

<div>
  <div>
Text
<input [(ngModel)]="widget.text" class="form-control"/>

Rows
<input [(ngModel)]="rows" class="form-control" type="number"/>
<label for="Name">Name</label>
<div>
  <input [(ngModel)]="name"
         type="text"
         class="form-control"
         id="Name"
         name="name"
         placeholder="Name">
</div>

Placeholder
<input [(ngModel)]="placeholder" class="form-control" required/>
<p></p>
<div class="input-group">
  <input type="text"
         readonly
         value="Formatted"
         class="form-control"/>
  <span class="input-group-addon">
     <input [(ngModel)]="formatted"
            type="checkbox"/>
 </span>
</div>

<button (click)="deleted(wgid)"
        class="btn btn-danger btn-block jj-button-hover jj-center"
        aria-pressed="true">
  Delete
</button>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <button class="jj-button-cog" (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
  </div>
</nav>
