
charset="UTF-8"
name="viewport" content="initial-scale=1, user-scalable=no"
Profile
rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"
rel="stylesheet" href="../../css/style.css"
src="../../vendors/bootstrap/dist/js/bootstrap.min.js"

<nav class="navbar navbar-default_blue navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>
          Profile
        </b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a href="profile.html" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container-fluid jj-body">
  <form>
    <div class="form-group">
      <label for="username">
        Username
      </label>
      <input name="username"
             id="username"
             type="text"
             placeholder="Username"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">
        Email
      </label>
      <input name="email"
             id="email"
             type="email"
             placeholder="Email"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="First Name">
        First Name
      </label>
      <input name="First Name"
             id="First Name"
             type="text"
             placeholder="First Name"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="Last Name">
        Last Name
      </label>
      <input name="Last Name"
             id="Last Name"
             type="text"
             placeholder="Last Name"
             class="form-control"/>
    </div>
  </form>

  <a class="btn btn-primary btn-block" role="button" aria-pressed="true" href="../../views/website/website-list.html">
    Websites
  </a>
  <a class="btn btn-danger btn-block" role="button" aria-pressed="true" href="login.html">
    Logout
  </a>

</div>

<nav class="navbar navbar-default_blue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

