<!DOCTYPE html>


<!--charset="UTF-8"-->
<!--name="viewport" content="initial-scale=1, user-scalable=no"-->
<!--Login-->
<!--rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"-->
<!--rel="stylesheet" href="../../css/style.css"/>-->
<!--src="../../vendors/bootstrap/dist/js/bootstrap.min.js"-->

<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>
  <form (ngSubmit)="login()" #f="ngForm">
    <input name="username"
           id="username"
           type="text"
           placeholder="username"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <input name="password"
           id="password"
           type="password"
           placeholder="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>

    <button (click)="login()"
            class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid"
            [routerLink]="['/user/:uid']">
      Login
    </button>
    <button (click)="buttonClicked($event)"
            class="btn btn-success btn-block"
            aria-pressed="true"
            [routerLink]="['/register']">
      Register
    </button>
  </form>
</div>
