<!DOCTYPE html>

<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>
  <form (ngSubmit)="login(username.value, password.value)" #f="ngForm">
    <input name="username"
           id="username"
           type="text"
           placeholder="username"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <input name="password"
           id="password"
           type="password"
           placeholder="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>

    <button (click)="login(username.value, password.value)"
            class="btn btn-primary btn-block jj-button-hover"
            type="submit"
            [disabled]="!f.valid">
      Login
    </button>
    <a href="{{baseURL}}/api/facebook/login" class="btn btn-primary btn-block jj-button-hover">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>
    <button class="btn btn-success btn-block jj-button-hover"
            aria-pressed="true"
            [routerLink]="['/register']">
      Register
    </button>
  </form>
</div>
