<!DOCTYPE html>

<!--charset="UTF-8"-->
<!--name="viewport" content="initial-scale=1, user-scalable=no"-->
<!--Edit Website-->
<!--rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"-->
<!--rel="stylesheet" href="../../css/style.css"-->
<!--src="../../vendors/bootstrap/dist/js/bootstrap.min.js"-->

<nav class="navbar navbar-default_blue navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-sm-3 hidden-xs">
      <div class="navbar-brand pull-left">
        <a [routerLink]="['/user/:uid/website']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>
            Websites
          </b>
        </a>
      </div>
      <p class="navbar-brand pull-right">
        <a class="navbar-link" [routerLink]="['/user/:uid/website/new']">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>
    </div>
    <div class="col-sm-9">
      <div class="navbar-brand pull-left">
        <a [routerLink]="['/user/:uid/website']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            Edit Website
          </b>
        </a>
      </div>

      <p class="navbar-brand pull-right">
        <a [routerLink]="['/user/:uid/website']" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="container-fluid jj-body">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div class="container-fluid">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page']">
                  Facebook
                </a>
              </div>
              <div class="col-xs-3">
                <a (click)="editWebsite()" class="pull-right" [routerLink]="['/user/:uid/website/:wid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page']">
                  Tweeter
                </a>
              </div>
              <div class="col-xs-3">
                <a (click)="editWebsite()" class="pull-right" [routerLink]="['/user/:uid/website/:wid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page']">
                  Gizmodo
                </a>
              </div>
              <div class="col-xs-3">
                <a (click)="editWebsite()" class="pull-right" [routerLink]="['/user/:uid/website/:wid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page']">
                  Go
                </a>
              </div>
              <div class="col-xs-3">
                <a (click)="editWebsite()" class="pull-right" [routerLink]="['/user/:uid/website/:wid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page']">
                  Tic Tac Toe
                </a>
              </div>
              <div class="col-xs-3">
                <a (click)="editWebsite()" class="pull-right" [routerLink]="['/user/:uid/website/:wid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page']">
                  Checkers
                </a>
              </div>
              <div class="col-xs-3">
                <a (click)="editWebsite()" class="pull-right" [routerLink]="['/user/:uid/website/:wid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page']">
                  Chess
                </a>
              </div>
              <div class="col-xs-3">
                <a (click)="editWebsite()" class="pull-right" [routerLink]="['/user/:uid/website/:wid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">

      <form>
        <div class="form-group">
          <label for="Name">
            Website Name
          </label>
          <input [(ngModel)]="name"
                 name="Name"
                 id="Name"
                 type="text"
                 placeholder="Website Name"
                 class="form-control"/>
        </div>
      </form>

      <div class="form-group">
        <label for="Description">
          Website Description
        </label>
        <textarea
          [(ngModel)]="description"
          placeholder="Description"
          rows="5"
          name="Description"
          id="Description"
          class="form-control"></textarea>
      </div>

      <button (click)="deleted()"
              class="btn btn-danger btn-block"
              aria-pressed="true"
              [routerLink]="['/user/:uid/website']">
        Delete
      </button>
    </div>
  </div>
</div>

<nav class="navbar navbar-default_blue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-brand pull-right">
      <a (click)="goToProfile()" [routerLink]="['/user/:uid']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
