<!DOCTYPE html>

<nav class="navbar navbar-default_blue navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-sm-3 hidden-xs">
      <div class="navbar-brand pull-left">
        <button (click)="goToProfile()" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>
            Websites
          </b>
        </a>
      </div>
      <p class="navbar-brand pull-right">
        <button class="navbar-link jj-button" (click)="newWebsite()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </p>
    </div>
    <div class="col-sm-9">
      <div class="navbar-brand pull-left">
        <button (click)="deleted()" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            Edit Website
          </b>
        </a>
      </div>

      <p class="navbar-brand pull-right">
        <button (click)="commit(websiteId, name.valueOf(), description.valueOf())" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </p>
    </div>
  </div>
</nav>

<div class="container-fluid jj-body">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
          <div *ngFor="let website of websites">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-9">
                  <button class="jj-button-cog" (click)="goToPages(website._id)">
                    {{website.name}}
                  </button>
                </div>
                <div class="col-xs-3">
                  <button (click)="editWebsite(website._id)" class="pull-right jj-button-cog">
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                </div>
              </div>
            </li>
          </div>
    </div>

    <div class="col-sm-9">

      <form>
        <div class="form-group">
          <label for="Name">
            Website Name
          </label>
          <input [(ngModel)]="name"
                 name="Name"
                 id="Name"
                 type="text"
                 placeholder="Website Name"
                 class="form-control"/>
        </div>
      </form>

      <div class="form-group">
        <label for="Description">
          Website Description
        </label>
        <textarea
          [(ngModel)]="description"
          placeholder="Description"
          rows="5"
          name="Description"
          id="Description"
          class="form-control"></textarea>
      </div>

      <button (click)="deleted(websiteId)"
              class="btn btn-danger btn-block jj-button-hover"
              aria-pressed="true">
        Delete
      </button>
    </div>
  </div>
</div>

<nav class="navbar navbar-default_blue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-brand pull-right">
      <button class="jj-button" (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
  </div>
</nav>
