<!DOCTYPE html>


<!--charset="UTF-8"-->
<!--name="viewport" content="initial-scale=1, user-scalable=no"-->
<!--New Page-->
<!--rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"-->
<!--rel="stylesheet" href="../../css/style.css"-->
<!--src="../../vendors/bootstrap/dist/js/bootstrap.min.js"-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-sm-3 hidden-xs">
      <div class="navbar-brand pull-left">
        <a [routerLink]="['/user/:uid/website']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>
            Pages
          </b>
        </a>
      </div>
      <p class="navbar-brand pull-right">
        <a class="navbar-link" [routerLink]="['/user/:uid/website/:wid/page/new']">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>
    </div>
    <div class="col-sm-9">
      <div class="navbar-brand pull-left">
        <a [routerLink]="['/user/:uid/website/:wid/page']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            New Page
          </b>
        </a>
      </div>

      <p class="navbar-brand pull-right">
        <a [routerLink]="['/user/:uid/website/:wid/page']" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="container-fluid jj-body">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div class="container-fluid">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
                  Blog Post
                </a>
              </div>
              <div class="col-xs-3">
                <a class="pull-right" [routerLink]="['/user/:uid/website/:wid/page/:pid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
                  Blogs
                </a>
              </div>
              <div class="col-xs-3">
                <a class="pull-right" [routerLink]="['/user/:uid/website/:wid/page/:pid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
                  Home
                </a>
              </div>
              <div class="col-xs-3">
                <a class="pull-right" [routerLink]="['/user/:uid/website/:wid/page/:pid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
                  About
                </a>
              </div>
              <div class="col-xs-3">
                <a class="pull-right" [routerLink]="['/user/:uid/website/:wid/page/:pid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-9">
                <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
                  Contact Us
                </a>
              </div>
              <div class="col-xs-3">
                <a class="pull-right" [routerLink]="['/user/:uid/website/:wid/page/:pid']">
                  <span class="glyphicon glyphicon-cog"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-sm-9">
      <form (ngSubmit)="newPage()" #f="ngForm">
        <div class="form-group">
          <label for="Name">
            Name
          </label>
          <input name="Name"
                 id="Name"
                 type="text"
                 placeholder="Page Name"
                 class="form-control"
                 required
                 ngModel
                 #Name="ngModel"/>
          <span class="help-block" *ngIf="Name.touched">
              Please enter a page name!
          </span>
          <label for="Title">
            Title
          </label>
          <input
            placeholder="Title"
            name="Title"
            id="Title"
            class="form-control"
            required
            ngModel
            #Title="ngModel"/>
          <span class="help-block" *ngIf="Title.touched">
              Please enter a page title!
          </span>
        </div>
      </form>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="navbar-brand pull-right">
          <a [routerLink]="['/user/:uid']">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>
      </div>
    </nav>
  </div>
</div>
