<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand pull-left">
      <button (click)="goToWebsites()" class="navbar-link jj-button">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>
          Pages
        </b>
      </a>
    </div>
    <p class="navbar-brand pull-right">
      <button class="navbar-link jj-button" (click)="newPage()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </p>
  </div>
</nav>

<div class="container-fluid jj-body">
  <div *ngFor="let page of pages">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-9">
            <button class="jj-button-cog" (click)="goToWidgets(page._id)">
              {{page.name}}
            </button>
          </div>
          <div class="col-xs-3">
            <button class="pull-right jj-button-cog" (click)="editPage(page._id)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
          </div>
        </div>
      </li>
  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-brand pull-right">
      <button class="jj-button-cog" (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
  </div>
</nav>
