<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-sm-3 hidden-xs">
      <div class="navbar-brand pull-left">
        <a (click)="goToWidgets()" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>
            Choose Widget
          </b>
        </a>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="navbar-brand pull-left">
        <a (click)="chooseWidget()" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            Widget Edit
          </b>
        </a>
      </div>

      <p class="navbar-brand pull-right">
        <a (click)="goToWidgets()" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
  </div>
</nav>
<div class="container-fluid jj-body">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <nav class="jj-widget-chooser-padding">
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']"> Header </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']"> Label </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']"> HTML </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']"> Text Input </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']"> Link </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']"> Button </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']"> Image </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']"> YouTube </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']"> Data Table </a></ul>
        <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']"> Repeater </a></ul>

      </nav>
    </div>
    <div class="col-sm-9">

      <form>
        <div class="form-group">
          <label for="Name">
            Name
          </label>
          <input name="Name"
                 id="Name"
                 type="text"
                 class="form-control"/>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="Text">
            Text
          </label>
          <input
            placeholder="Animals"
            name="Text"
            id="Text"
            class="form-control"
            type="text"
            value="Animals"/>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="Size">
            Size
          </label>
          <input
            placeholder="Animals"
            name="Size"
            id="Size"
            class="form-control"
            type="number"
            value="3"/>
        </div>
      </form>
      <button (click)="goToWidgets()"
              class="btn btn-danger btn-block"
              aria-pressed="true">
        Delete
      </button>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
