<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand pull-left">
      <button (click)="chooseWidget()" class="navbar-link jj-button">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>
          Widget Edit
        </b>
      </a>
    </div>

    <p class="navbar-brand pull-right">
      <button (click)="commit(text.valueOf(), size.valueOf())" class="navbar-link jj-button">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </p>
  </div>
</nav>
<div class="container-fluid jj-body">
  <div class="row">
    <form class="jj-form">
      <div class="form-group">
        <label for="widgetType">
          Name
        </label>
        <input [(ngModel)]="widgetType"
               name="widgetType"
               id="widgetType"
               type="text"
               class="form-control"/>
      </div>
    </form>
    <form class="jj-form">
      <div class="form-group">
        <label for="text">
          Text
        </label>
        <input [(ngModel)]="text"
               placeholder="Animals"
               name="text"
               id="text"
               class="form-control"
               type="text"
               />
      </div>
    </form>
    <form class="jj-form">
      <div class="form-group">
        <label for="size">
          Size
        </label>
        <input [(ngModel)]="size"
               name="size"
               id="size"
               class="form-control"
               type="number"
               value="3"
               />
      </div>
    </form>
    <button (click)="goToWidgets()"
            class="btn btn-danger btn-block jj-button-hover jj-center"
            aria-pressed="true">
      Delete
    </button>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <button class="jj-button-cog" (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
  </div>
</nav>
