<!DOCTYPE html>

charset="UTF-8"
name="viewport" content="initial-scale=1, user-scalable=no"
Choose Widget
rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"
rel="stylesheet" href="../../css/style.css"
src="../../vendors/bootstrap/dist/js/bootstrap.min.js"

<div class="container-fluid jj-body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-brand pull-left">
        <a href="widget-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            Choose Widget
          </b>
        </a>
      </div>
    </div>
  </nav>
  <nav class="jj-widget-chooser-padding">
    <ul><a href="../../views/widget/widget-heading.html"> Header </a></ul>
    <ul><a href="../../views/widget/widget-chooser.html"> Label </a></ul>
    <ul><a href="../../views/widget/widget-chooser.html"> HTML </a></ul>
    <ul><a href="../../views/widget/widget-chooser.html"> Text Input </a></ul>
    <ul><a href="../../views/widget/widget-chooser.html"> Link </a></ul>
    <ul><a href="../../views/widget/widget-chooser.html"> Button </a></ul>
    <ul><a href="../../views/widget/widget-image.html"> Image </a></ul>
    <ul><a href="../../views/widget/widget-youtube.html"> YouTube </a></ul>
    <ul><a href="../../views/widget/widget-chooser.html"> Data Table </a></ul>
    <ul><a href="../../views/widget/widget-chooser.html"> Repeater </a></ul>

  </nav>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-brand pull-right">
        <a href="../../views/user/profile.html">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>
    </div>
  </nav>
</div>

