<!DOCTYPE html>


<div class="container-fluid jj-body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-brand pull-left">
        <a (click)="goToWidgets()" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            Choose Widget
          </b>
        </a>
      </div>
    </div>
  </nav>
  <nav class="jj-widget-chooser-padding">
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']"> Header </a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']"> Image </a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']"> YouTube </a></ul>

    <ul><a (click)="chooseWidget()"> Label </a></ul>
    <ul><a (click)="chooseWidget()"> HTML </a></ul>
    <ul><a (click)="chooseWidget()"> Text Input </a></ul>
    <ul><a (click)="chooseWidget()"> Link </a></ul>
    <ul><a (click)="chooseWidget()"> Button </a></ul>
    <ul><a (click)="chooseWidget()"> Data Table </a></ul>
    <ul><a (click)="chooseWidget()"> Repeater </a></ul>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-brand pull-right">
        <a (click)="goToProfile()">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>
    </div>
  </nav>
</div>

