<!DOCTYPE html>


<div class="container-fluid jj-body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-brand pull-left">
        <button (click)="goToWidgets()" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            Choose Widget
          </b>
        </a>
      </div>
    </div>
  </nav>
  <nav class="jj-widget-chooser-padding">
    <ul><button class="jj-button-cog" (click)="makeWidget('HEADING')"> Header</button></ul>
    <ul><button class="jj-button-cog" (click)="makeWidget('IMAGE')"> Image</button></ul>
    <ul><button class="jj-button-cog" (click)="makeWidget('YOUTUBE')"> YouTube</button></ul>
    <ul><button class="jj-button-cog" (click)="chooseWidget()"> Label</button></ul>
    <ul><button class="jj-button-cog" (click)="chooseWidget()"> HTML</button></ul>
    <ul><button class="jj-button-cog" (click)="chooseWidget()"> Text Input</button></ul>
    <ul><button class="jj-button-cog" (click)="chooseWidget()"> Link</button></ul>
    <ul><button class="jj-button-cog" (click)="chooseWidget()"> Button</button></ul>
    <ul><button class="jj-button-cog" (click)="chooseWidget()"> Data Table</button></ul>
    <ul><button class="jj-button-cog" (click)="chooseWidget()"> Repeater</button></ul>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-brand pull-right">
        <button class="jj-button-cog" (click)="goToProfile()">
          <span class="glyphicon glyphicon-user"></span>
        </button>
      </p>
    </div>
  </nav>
</div>

