<!DOCTYPE html>

<nav class="navbar navbar-default_blue navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-sm-3 hidden-xs">
      <div class="navbar-brand pull-left">
        <button (click)="goToProfile()" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>
            Websites
          </b>
        </a>
      </div>
      <p class="navbar-brand pull-right">
        <button class="navbar-link jj-button" (click)="goToNewWebsite()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </p>
    </div>
    <div class="col-sm-9">
      <div class="navbar-brand pull-left">
        <button (click)="cancel()" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            New Website
          </b>
        </a>
      </div>

      <p class="navbar-brand pull-right">
        <button (click)="commit(Name.value, Description.value)" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </p>
    </div>
  </div>
</nav>

<div class="container-fluid jj-body">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div *ngFor="let website of websites">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <button class="jj-button-cog" (click)="goToPages(website._id)">
                {{website.name}}
              </button>
            </div>
            <div class="col-xs-3">
              <button (click)="editWebsite(website._id)" class="pull-right jj-button-cog">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="col-sm-9">
      <form (ngSubmit)="newWebsite()" #f="ngForm">
        <div class="form-group">
          <label for="Name">
            Name
          </label>
          <input name="Name"
                 id="Name"
                 type="text"
                 placeholder="Name"
                 class="form-control"
                 required
                 ngModel
                 #Name="ngModel"/>
          <span class="help-block" *ngIf="Name.touched && !Name.valid">
              Please enter a website name!
          </span>
          <label for="Description">
            Description
          </label>
          <textarea
            placeholder="Description"
            rows="5"
            name="Description"
            id="Description"
            class="form-control"
            required
            ngModel
            #Description="ngModel"></textarea>
          <span class="help-block" *ngIf="Description.touched && !Description.valid">
              Please enter a website description!
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-default_blue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-brand pull-right">
      <button class="jj-button" (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
  </div>
</nav>

