<!DOCTYPE html>

<!--charset="UTF-8"-->
<!--name="viewport" content="initial-scale=1, user-scalable=no"-->
<!--New Website-->
<!--rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"-->
<!--rel="stylesheet" href="../../css/style.css"-->
<!--src="../../vendors/bootstrap/dist/js/bootstrap.min.js"-->


<nav class="navbar navbar-default_blue navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-sm-3 hidden-xs">
      <div class="navbar-brand pull-left">
        <a (click)="goToProfile()" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>
            Websites
          </b>
        </a>
      </div>
      <p class="navbar-brand pull-right">
        <a class="navbar-link" (click)="goToNewWebsite()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>
    </div>
    <div class="col-sm-9">
      <div class="navbar-brand pull-left">
        <a (click)="cancel()" class="navbar-link">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            New Website
          </b>
        </a>
      </div>

      <p class="navbar-brand pull-right">
        <a (click)="cancel()" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="container-fluid jj-body">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div *ngFor="let website of websites">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <a [routerLink]="['/user/:uid/website/:wid/page']">
                {{website.name}}
              </a>
            </div>
            <div class="col-xs-3">
              <a (click)="editWebsite(website._id)" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="col-sm-9">
      <form (ngSubmit)="newWebsite()" #f="ngForm">
        <div class="form-group">
          <label for="Name">
            Name
          </label>
          <input name="Name"
                 id="Name"
                 type="text"
                 placeholder="Name"
                 class="form-control"
                 required
                 ngModel
                 #Name="ngModel"/>
          <span class="help-block" *ngIf="Name.touched">
              Please enter a website name!
          </span>
          <label for="Description">
            Description
          </label>
          <textarea
            placeholder="Description"
            rows="5"
            name="Description"
            id="Description"
            class="form-control"
            required
            ngModel
            #Description="ngModel"></textarea>
          <span class="help-block" *ngIf="Description.touched">
              Please enter a website description!
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-default_blue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-brand pull-right">
      <a (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

