<!DOCTYPE html>

<!--charset="UTF-8">-->
<!--name="viewport" content="initial-scale=1, user-scalable=no"-->
<!--Register-->
<!--rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"-->
<!--rel="stylesheet" href="../../css/style.css"-->
<!--src="../../vendors/bootstrap/dist/js/bootstrap.min.js"-->

<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>
  <form (ngSubmit)="register()" #f="ngForm">
    <input name="username"
           id="username"
           type="text"
           placeholder="username"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>
    <input name="password"
           id="password"
           type="password"
           placeholder="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>
    <input name="verify password"
           id="verify_password"
           type="password"
           placeholder="verify password"
           class="form-control"
           ngModel
           required
           #verify_password="ngModel">
    <span class="help-block" *ngIf="!verify_password.valid && verify_password.touched">
      Please enter password!
    </span>
    <span class="help-block" *ngIf="verify_password.value != password.value">
      Passwords do not match!
    </span>

  </form>
  <button (click)="buttonClicked($event)"
          class="btn btn-primary btn-block"
          aria-pressed="true"
          [disabled]="!f.valid"
          [routerLink]="['/register']">
    Register
  </button>

  <button (click)="buttonClicked($event)"
          class="btn btn-danger btn-block"
          aria-pressed="true"
          [routerLink]="['/login']">
    Cancel
  </button>
</div>

