<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-brand pull-left">
        <button (click)="chooseWidget()" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>
            Widget Edit
          </b>
        </a>
      </div>

      <p class="navbar-brand pull-right">
        <button (click)="commit(width, url)" class="navbar-link jj-button">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </p>
    </div>
</nav>
<div class="container-fluid jj-body">
  <div class="row">
    <form class="jj-form">
      <div class="form-group">
        <label for="widgetType">
          Name
        </label>
        <input [(ngModel)]="widgetType"
               name="widgetType"
               id="widgetType"
               type="text"
               class="form-control"/>
      </div>
    </form>
    <form class="jj-form">
      <div class="form-group">
        <label for="URL">
          URL
        </label>
        <input [(ngModel)]="url"
               type="url"
               placeholder="URL"
               name="URL"
               id="URL"
               class="form-control"/>
      </div>
    </form>
    <form class="jj-form">
      <div class="form-group">
        <label for="Width">
          Width
        </label>
        <input [(ngModel)]="width"
               name="Width"
               id="Width"
               class="form-control"
               type="text"
               value="100%"/>
      </div>
    </form>
    <form ngNoForm action="http://localhost:3100/api/upload" method="post" enctype="multipart/form-data" class="jj-form">
      <input  name="myFile"   type="file" class="form-control"/>
      <input  name="widgetId" value="{{wgid}}"   style="display: none"/>
      <input  name="websiteId" value="{{webId}}"   style="display: none"/>
      <input  name="pageId" value="{{pageId}}"   style="display: none"/>
      <input  name="userId" value="{{userId}}"   style="display: none"/>
      <button (click)="commit(width, url)" type="submit" class="btn btn-block btn-primary jj-form jj-button-hover" aria-pressed="true">Upload Image</button>
      <br/>
    </form>
    <button (click)="deleted(wgid)" class="btn btn-danger btn-block jj-button-hover jj-form" aria-pressed="true">Delete</button>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <button class="jj-button-cog" (click)="goToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
  </div>
</nav>

